.rotate-img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.rotate-img:hover {
  -webkit-transform: rotate(
    360deg
  ); /* Градусы поворота можно изменить по необходимости */
  transform: rotate(
    360deg
  ); /* Градусы поворота можно изменить по необходимости */
}
