.hover-effect-btn {
  position: relative;
  width: auto;
  height: 300px;
  margin: auto 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.301); /* Начальная прозрачность */
  transition: background 0.5s ease;
  z-index: 0; /* Помещаем за текст и кнопку, но перед изображением */
  border-radius: 15px;
}

.hover-effect-btn:hover .overlay {
  background: rgba(0, 0, 0, 0.7); /* Увеличиваем прозрачность для затемнения */
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 25%; /* Отступ сверху */
  font-size: 1.5em; /* Размер текста заголовка */
  text-align: center;
  text-transform: uppercase; /* Заглавные буквы */
  color: #34d6ff; /* Цвет заголовка */
  z-index: 1;
  transition: top 0.5s ease;
  font-family: "Orbitron", sans-serif; /* Используем шрифт Orbitron */
  font-weight: 900; /* Делаем текст максимально жирным */
  letter-spacing: 2px; /* Добавляем небольшое расстояние между буквами */
  text-shadow:
    2px 2px 0px #000000,
    /* Тень для объема (чёрная, ближе к тексту) */ 4px 4px 5px
      rgba(0, 0, 0, 0.5),
    /* Размытая тень для глубины */ -2px -2px 5px rgba(255, 255, 255, 0.3); /* Светлая подсветка сверху */
}

.hover-effect-btn:hover .title {
  top: 10%; /* Отступ сверху при наведении */
}

.buttonLink {
  position: absolute;
  width: 100%;
  left: 0;
  top: 65%; /* Отступ сверху */
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.buttonLink a {
  padding: 15px 40px; /* Отступ */
  text-align: center;
  background: #ff921e; /* Цвет кнопки */
  color: white; /* Цвет текста */
  border: 1px solid white; /* Ширина, стиль и цвет границы */
  z-index: 1;
}

.hover-effect-btn:hover .buttonLink {
  opacity: 1;
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  position: relative; /* Убедитесь, что изображение находится позади overlay */
  z-index: -1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
