body {
  height: 100vh; /* растянуть на всю высоту страницы */
  margin: 0; /* убрать отступы */
  background: linear-gradient(
    45deg,
    rgba(133, 106, 167, 0.3),
    rgba(69, 90, 150, 0.3),
    rgba(51, 62, 110, 0.3)
  ); /* сделать фон полупрозрачным */
  background-size: 100% 100%; /* растянуть фон на всю страницу */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap; /* Позволяет карточкам переноситься на новую строку */
  justify-content: center; /* Центрирование карточек */
  gap: 20px; /* Отступы между карточками */
}
